<div id="meal">
    <!--h3 hidden on mobile-->
    <h3>"{{mealId}}"   <!-- {{title}}-->
        <small>Editing meal</small>
    </h3>

    <div ng-if="!hidden">
        <small>test ID="{{mealId}}"</small>


        <!--foods-table-->
        <tt-food-table save-icon="true" />


        <!--foods-summary-->
        <!--{{ action "goToSearch"}}-->
        <button><span><i class="fa fa-plus-circle"></i> Add Food</span></button>

    </div>
    <div ng-if="hidden">
        <!--foods-summary-->
    </div>
    <!--outlet for search template-->


    <!--{{#if visible}}-->
    <!--{{foods-table foods=foods actionIconAction="removeFood" iconName="fa fa-trash-o"}}-->
    <!--{{foods-summary-table foods=foods clickAction="goToMeal"}}-->
    <!--<button {{ action "goToSearch"}}><span><i class="fa fa-plus-circle"></i> Add Food</span></button>-->
    <!--{{else}}-->
    <!--{{foods-summary-table foods=foods clickAction="goToMeal"}}-->
    <!--{{/if}}-->
    <!--{{outlet}} &lt;!&ndash; for search template &ndash;&gt;-->

</div>