<h3>Meals
    <small>Create & manage meals ...</small>
</h3>

<div id="meals-wrapper">
    <section id="meals">
        <div>
            <input placeholder="enter name for a new meal ..."/>
            <button>
                <span class="glyphicon glyphicon-save"></span>
            </button>
        </div>

        <ul id="meals-list">

            <li ng-repeat="meal in meals">
                <!-- {{action 'removeMeal'}}-->
                <button><span class="fa fa-trash-o"></span></button>
                <a href="#/meal/{{meal.id}}">{{meal.title}}<span class="glyphicon glyphicon-edit"></span></a>
            </li>

            <li ng-if="meals.length === 0">
                You have 0 meals.
            </li>

        </ul>
    </section>
</div>